@import "tailwindcss";

@theme {
    --color-bg-base: #f3efe6;
    --color-brand-green: #018931;
    --color-brand-light: #CFF0C1;
    --color-text-dark: #1a1a1a;
    --color-card-green: #CFF0C1;
    --color-card-light: #ece6da;
}

body {
    background-color: var(--color-bg-base);
    color: var(--color-text-dark);
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
}
